# Disk images & binaries
*.iso
*.img
*.bin
*.vdi
*.vmdk
*.qcow2

# Editor & OS files
# Local VS Code tasks (VS Code reads tasks.json)
.vscode/task.json
.vscode/tasks.json
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*~
*.swp
